[Unit]
Description=VNC with laptop resolution
After=network.target

[Service]
ExecStart=/usr/bin/vncserver :1 -geometry 1366x715
#ExecStop=/usr/bin/vncserver -kill :1
#ExecStart=/usr/bin/vncserver -kill :1; /usr/bin/vncserver :1 -geometry 1366x715
#WorkingDirectory=/home/pi/AIY-voice-kit-python
Restart=no
User=pi

[Install]
WantedBy=multi-user.target

